/*

    COLORS

*/
/*

*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5em;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 1em 0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin: 1.28205em 0;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin: 1.80723em 0;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin: 2.23881em 0;
}

/* Grouping content
       ========================================================================== */
/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
blockquote {
  margin: 1.5em 40px;
}

dl,
ol,
ul {
  margin: 1.5em 0;
}

/**
       * Turn off margins on nested lists.
       */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

ol,
ul {
  padding: 0 0 0 40px;
}

/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1.5em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
p,
pre {
  margin: 1.5em 0;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.5em;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
  /*
         * 1. Set 1 unit of vertical rhythm on the top and bottom margin.
         * 2. Set consistent space for the list style image.
         */
  margin: 1.5em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
  /**
         * Turn off margins on nested lists.
         */
}

menu menu,
ol menu,
ul menu {
  margin: 0;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

grid {
  --grid-tc: repeat(4, 1fr);
  --grid-cs: 1;
  --grid-ce: -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--grid-tc);
      grid-template-columns: var(--grid-tc);
}

grid > * {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
}

grid[columns="1"] {
  --grid-tc: repeat(1, 1fr);
}

grid[columns="2"] {
  --grid-tc: repeat(2, 1fr);
}

grid[columns="3"] {
  --grid-tc: repeat(3, 1fr);
}

grid[columns="4"] {
  --grid-tc: repeat(4, 1fr);
}

grid[columns="5"] {
  --grid-tc: repeat(5, 1fr);
}

grid[columns="6"] {
  --grid-tc: repeat(6, 1fr);
}

grid[columns="7"] {
  --grid-tc: repeat(7, 1fr);
}

grid[columns="8"] {
  --grid-tc: repeat(8, 1fr);
}

grid[columns="9"] {
  --grid-tc: repeat(9, 1fr);
}

grid[columns="10"] {
  --grid-tc: repeat(10, 1fr);
}

grid[columns="11"] {
  --grid-tc: repeat(11, 1fr);
}

grid[columns="12"] {
  --grid-tc: repeat(12, 1fr);
}

grid > [span^="1"] {
  --grid-cs: 1;
}

grid > [span^="2"] {
  --grid-cs: 2;
}

grid > [span^="3"] {
  --grid-cs: 3;
}

grid > [span^="4"] {
  --grid-cs: 4;
}

grid > [span^="5"] {
  --grid-cs: 5;
}

grid > [span^="6"] {
  --grid-cs: 6;
}

grid > [span^="7"] {
  --grid-cs: 7;
}

grid > [span^="8"] {
  --grid-cs: 8;
}

grid > [span^="9"] {
  --grid-cs: 9;
}

grid > [span^="10"] {
  --grid-cs: 10;
}

grid > [span^="11"] {
  --grid-cs: 11;
}

grid > [span^="12"] {
  --grid-cs: 12;
}

grid > [span$="+1"],
grid > [span="1"] {
  --grid-ce: 1;
}

grid > [span$="+1"],
grid > [span$="-0"],
grid > [span="1"] {
  --grid-ce: 1;
}

grid > [span$="+2"],
grid > [span$="-1"],
grid > [span="2"] {
  --grid-ce: 2;
}

grid > [span$="+3"],
grid > [span$="-2"],
grid > [span="3"] {
  --grid-ce: 3;
}

grid > [span$="+4"],
grid > [span$="-3"],
grid > [span="4"] {
  --grid-ce: 4;
}

grid > [span$="+5"],
grid > [span$="-4"],
grid > [span="5"] {
  --grid-ce: 5;
}

grid > [span$="+6"],
grid > [span$="-5"],
grid > [span="6"] {
  --grid-ce: 6;
}

grid > [span$="+7"],
grid > [span$="-6"],
grid > [span="7"] {
  --grid-ce: 7;
}

grid > [span$="+8"],
grid > [span$="-7"],
grid > [span="8"] {
  --grid-ce: 8;
}

grid > [span$="+9"],
grid > [span$="-8"],
grid > [span="9"] {
  --grid-ce: 9;
}

grid > [span$="+10"],
grid > [span$="-9"],
grid > [span="10"] {
  --grid-ce: 10;
}

grid > [span$="+11"],
grid > [span$="-10"],
grid > [span="11"] {
  --grid-ce: 11;
}

grid > [span$="+12"],
grid > [span$="-11"],
grid > [span="12"] {
  --grid-ce: 12;
}

grid > [span$="-12"] {
  --grid-ce: 13;
}

grid > [span] {
  -ms-grid-column-span: var(--grid-ce);
      grid-column-end: span var(--grid-ce);
}

grid > [span*="+"],
grid > [span*="-"],
grid > [span*=".."] {
  -ms-grid-column: var(--grid-cs);
      grid-column-start: var(--grid-cs);
}

grid > [span*="-"],
grid > [span*=".."] {
  grid-column-end: var(--grid-ce);
}

grid > [span="row"] {
  grid-column: 1 / -1;
}

@media (max-width: 839px) {
  grid[columns-s="1"] {
    --grid-tc: repeat(1, 1fr);
  }
  grid[columns-s="2"] {
    --grid-tc: repeat(2, 1fr);
  }
  grid[columns-s="3"] {
    --grid-tc: repeat(3, 1fr);
  }
  grid[columns-s="4"] {
    --grid-tc: repeat(4, 1fr);
  }
  grid[columns-s="5"] {
    --grid-tc: repeat(5, 1fr);
  }
  grid[columns-s="6"] {
    --grid-tc: repeat(6, 1fr);
  }
  grid[columns-s="7"] {
    --grid-tc: repeat(7, 1fr);
  }
  grid[columns-s="8"] {
    --grid-tc: repeat(8, 1fr);
  }
  grid[columns-s="9"] {
    --grid-tc: repeat(9, 1fr);
  }
  grid[columns-s="10"] {
    --grid-tc: repeat(10, 1fr);
  }
  grid[columns-s="11"] {
    --grid-tc: repeat(11, 1fr);
  }
  grid[columns-s="12"] {
    --grid-tc: repeat(12, 1fr);
  }
  grid > [span-s^="1"] {
    --grid-cs: 1;
  }
  grid > [span-s^="2"] {
    --grid-cs: 2;
  }
  grid > [span-s^="3"] {
    --grid-cs: 3;
  }
  grid > [span-s^="4"] {
    --grid-cs: 4;
  }
  grid > [span-s^="5"] {
    --grid-cs: 5;
  }
  grid > [span-s^="6"] {
    --grid-cs: 6;
  }
  grid > [span-s^="7"] {
    --grid-cs: 7;
  }
  grid > [span-s^="8"] {
    --grid-cs: 8;
  }
  grid > [span-s^="9"] {
    --grid-cs: 9;
  }
  grid > [span-s^="10"] {
    --grid-cs: 10;
  }
  grid > [span-s^="11"] {
    --grid-cs: 11;
  }
  grid > [span-s^="12"] {
    --grid-cs: 12;
  }
  grid > [span-s$="+1"],
  grid > [span="1"] {
    --grid-ce: 1;
  }
  grid > [span-s$="+1"],
  grid > [span-s$="-0"],
  grid > [span-s="1"] {
    --grid-ce: 1;
  }
  grid > [span-s$="+2"],
  grid > [span-s$="-1"],
  grid > [span-s="2"] {
    --grid-ce: 2;
  }
  grid > [span-s$="+3"],
  grid > [span-s$="-2"],
  grid > [span-s="3"] {
    --grid-ce: 3;
  }
  grid > [span-s$="+4"],
  grid > [span-s$="-3"],
  grid > [span-s="4"] {
    --grid-ce: 4;
  }
  grid > [span-s$="+5"],
  grid > [span-s$="-4"],
  grid > [span-s="5"] {
    --grid-ce: 5;
  }
  grid > [span-s$="+6"],
  grid > [span-s$="-5"],
  grid > [span-s="6"] {
    --grid-ce: 6;
  }
  grid > [span-s$="+7"],
  grid > [span-s$="-6"],
  grid > [span-s="7"] {
    --grid-ce: 7;
  }
  grid > [span-s$="+8"],
  grid > [span-s$="-7"],
  grid > [span-s="8"] {
    --grid-ce: 8;
  }
  grid > [span-s$="+9"],
  grid > [span-s$="-8"],
  grid > [span-s="9"] {
    --grid-ce: 9;
  }
  grid > [span-s$="+10"],
  grid > [span-s$="-9"],
  grid > [span-s="10"] {
    --grid-ce: 10;
  }
  grid > [span-s$="+11"],
  grid > [span-s$="-10"],
  grid > [span-s="11"] {
    --grid-ce: 11;
  }
  grid > [span-s$="+12"],
  grid > [span-s$="-11"],
  grid > [span-s="12"] {
    --grid-ce: 12;
  }
  grid > [span-s$="-12"] {
    --grid-ce: 13;
  }
  grid > [span-s] {
    -ms-grid-column-span: var(--grid-ce);
        grid-column-end: span var(--grid-ce);
  }
  grid > [span-s*="+"],
  grid > [span-s*="-"],
  grid > [span-s*=".."] {
    -ms-grid-column: var(--grid-cs);
        grid-column-start: var(--grid-cs);
  }
  grid > [span-s*="-"],
  grid > [span-s*=".."] {
    grid-column-end: var(--grid-ce);
  }
  grid > [span-s="row"] {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1438px) {
  grid[columns-l="1"] {
    --grid-tc: repeat(1, 1fr);
  }
  grid[columns-l="2"] {
    --grid-tc: repeat(2, 1fr);
  }
  grid[columns-l="3"] {
    --grid-tc: repeat(3, 1fr);
  }
  grid[columns-l="4"] {
    --grid-tc: repeat(4, 1fr);
  }
  grid[columns-l="5"] {
    --grid-tc: repeat(5, 1fr);
  }
  grid[columns-l="6"] {
    --grid-tc: repeat(6, 1fr);
  }
  grid[columns-l="7"] {
    --grid-tc: repeat(7, 1fr);
  }
  grid[columns-l="8"] {
    --grid-tc: repeat(8, 1fr);
  }
  grid[columns-l="9"] {
    --grid-tc: repeat(9, 1fr);
  }
  grid[columns-l="10"] {
    --grid-tc: repeat(10, 1fr);
  }
  grid[columns-l="11"] {
    --grid-tc: repeat(11, 1fr);
  }
  grid[columns-l="12"] {
    --grid-tc: repeat(12, 1fr);
  }
  grid > [span-l^="1"] {
    --grid-cs: 1;
  }
  grid > [span-l^="2"] {
    --grid-cs: 2;
  }
  grid > [span-l^="3"] {
    --grid-cs: 3;
  }
  grid > [span-l^="4"] {
    --grid-cs: 4;
  }
  grid > [span-l^="5"] {
    --grid-cs: 5;
  }
  grid > [span-l^="6"] {
    --grid-cs: 6;
  }
  grid > [span-l^="7"] {
    --grid-cs: 7;
  }
  grid > [span-l^="8"] {
    --grid-cs: 8;
  }
  grid > [span-l^="9"] {
    --grid-cs: 9;
  }
  grid > [span-l^="10"] {
    --grid-cs: 10;
  }
  grid > [span-l^="11"] {
    --grid-cs: 11;
  }
  grid > [span-l^="12"] {
    --grid-cs: 12;
  }
  grid > [span-l$="+1"],
  grid > [span="1"] {
    --grid-ce: 1;
  }
  grid > [span-l$="+1"],
  grid > [span-l$="-0"],
  grid > [span-l="1"] {
    --grid-ce: 1;
  }
  grid > [span-l$="+2"],
  grid > [span-l$="-1"],
  grid > [span-l="2"] {
    --grid-ce: 2;
  }
  grid > [span-l$="+3"],
  grid > [span-l$="-2"],
  grid > [span-l="3"] {
    --grid-ce: 3;
  }
  grid > [span-l$="+4"],
  grid > [span-l$="-3"],
  grid > [span-l="4"] {
    --grid-ce: 4;
  }
  grid > [span-l$="+5"],
  grid > [span-l$="-4"],
  grid > [span-l="5"] {
    --grid-ce: 5;
  }
  grid > [span-l$="+6"],
  grid > [span-l$="-5"],
  grid > [span-l="6"] {
    --grid-ce: 6;
  }
  grid > [span-l$="+7"],
  grid > [span-l$="-6"],
  grid > [span-l="7"] {
    --grid-ce: 7;
  }
  grid > [span-l$="+8"],
  grid > [span-l$="-7"],
  grid > [span-l="8"] {
    --grid-ce: 8;
  }
  grid > [span-l$="+9"],
  grid > [span-l$="-8"],
  grid > [span-l="9"] {
    --grid-ce: 9;
  }
  grid > [span-l$="+10"],
  grid > [span-l$="-9"],
  grid > [span-l="10"] {
    --grid-ce: 10;
  }
  grid > [span-l$="+11"],
  grid > [span-l$="-10"],
  grid > [span-l="11"] {
    --grid-ce: 11;
  }
  grid > [span-l$="+12"],
  grid > [span-l$="-11"],
  grid > [span-l="12"] {
    --grid-ce: 12;
  }
  grid > [span-l$="-12"] {
    --grid-ce: 13;
  }
  grid > [span-l] {
    -ms-grid-column-span: var(--grid-ce);
        grid-column-end: span var(--grid-ce);
  }
  grid > [span-l*="+"],
  grid > [span-l*="-"],
  grid > [span-l*=".."] {
    -ms-grid-column: var(--grid-cs);
        grid-column-start: var(--grid-cs);
  }
  grid > [span-l*="-"],
  grid > [span-l*=".."] {
    grid-column-end: var(--grid-ce);
  }
  grid > [span-l="row"] {
    grid-column: 1 / -1;
  }
}

grid.is-debug > * {
  --color: hsla(7, 92%, 66%, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color)), to(var(--color)));
  background-image: linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
}

grid.is-debug > :nth-child(6n+2) {
  --color: hsla(227, 53%, 61%, 0.3);
}

grid.is-debug > :nth-child(6n+3) {
  --color: hsla(40, 71%, 58%, 0.3);
}

grid.is-debug > :nth-child(6n+4) {
  --color: hsla(137, 63%, 57%, 0.3);
}

grid.is-debug > :nth-child(6n+5) {
  --color: hsla(299, 62%, 63%, 0.3);
}

grid.is-debug > :nth-child(6n+6) {
  --color: hsla(184, 57%, 60%, 0.3);
}

grid.is-debug > :nth-child(6n+7) {
  --color: hsla(7, 92%, 66%, 0.3);
}

/* ____________________ */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SF-Pro-Display/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display/SFProDisplay-Bold.woff") format("woff");
}

/* ____________________ */
* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  color: #0D0C22;
}

.container {
  padding: 0 20px;
}

@media only screen and (min-width: 840px) {
  .container {
    padding: 0 60px;
  }
}

.mb-min {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  .mb-min {
    margin-bottom: 40px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

a:hover {
  opacity: .7;
}

h2.section-header {
  font-size: 28px;
  line-height: 100%;
  margin: 60px 0 40px;
}

@media only screen and (min-width: 1024px) {
  h2.section-header {
    font-size: 36px;
    margin: 80px 0 60px;
  }
}

.recipes-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media only screen and (min-width: 1024px) {
  .recipes-wrapper {
    grid-row-gap: 50px;
  }
}

.load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 30px;
}

@media only screen and (min-width: 1024px) {
  .load-more {
    padding: 40px 0 20px;
  }
}

.load-more-button {
  cursor: pointer;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.load-more-button:hover {
  opacity: .75;
}

.load-more-button:active {
  -webkit-transform: translateY(2.5px);
          transform: translateY(2.5px);
}

.load-more-button span {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #9E9EA7;
  font-size: 12px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.load-more-button span::after {
  content: "";
  display: inline-block;
  -webkit-mask: url("../img/arrow.svg?2") no-repeat;
          mask: url("../img/arrow.svg?2") no-repeat;
  width: 8px;
  height: 4px;
  background: #9E9EA7;
  margin-left: 7px;
}

.search {
  position: relative;
}

.search input[type="search"] {
  background: transparent;
  border: 1px solid rgba(215, 45, 92, 0.25);
  border-radius: 8px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  width: 100%;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 20px 16px 60px;
  vertical-align: middle;
  color: #D72D5C;
  -webkit-appearance: none;
}

.search input[type="search"]::-webkit-input-placeholder, .search input[type="search"]::-webkit-input-placeholder {
  color: #D72D5C;
  opacity: 0.5;
  vertical-align: middle;
}

.search input[type="search"]::placeholder, .search input[type="search"]::-webkit-input-placeholder {
  color: #D72D5C;
  opacity: 0.5;
  vertical-align: middle;
}

.search input[type="search"]:focus {
  outline: none;
  border: 1px solid #d72d5c;
}

.search input[type="search"]:placeholder-shown ~ span {
  display: none;
}

.search-icon {
  position: absolute;
  height: 100%;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-icon svg {
  width: 18px;
  height: 18px;
  fill: #D72D5C;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

header {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
}

header grid {
  position: relative;
  height: 100%;
}

header grid * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hamburger {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
}

header .hamburger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 100%;
  margin-left: -20px;
}

header .hamburger-button svg {
  width: 15px;
  height: 14px;
  fill: #0D0C22;
}

@media only screen and (min-width: 840px) {
  header .hamburger-button {
    display: none;
  }
}

header .search-mobile {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20px;
}

header .search-mobile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 100%;
  margin-right: -20px;
}

header .search-mobile-button svg {
  width: 14px;
  height: 14px;
  fill: #0D0C22;
}

@media only screen and (min-width: 840px) {
  header .search-mobile-button {
    display: none;
  }
}

header nav.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.navigation > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 840px) {
  header nav.navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 840px) {
  header nav.navigation .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: auto;
  }
}

header nav.navigation .logo a {
  height: 100%;
  padding: 0 15px;
}

@media only screen and (min-width: 840px) {
  header nav.navigation .logo a {
    padding: 0;
  }
}

header nav.navigation .logo svg {
  width: 80px;
  height: 17px;
  fill: #0D0C22;
}

@media only screen and (min-width: 840px) {
  header nav.navigation .logo svg {
    width: 96.8px;
    height: 20px;
  }
}

header nav.navigation .menu {
  height: 100%;
  display: none;
}

@media only screen and (min-width: 840px) {
  header nav.navigation .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav.navigation .menu ul,
header nav.navigation .menu li,
header nav.navigation .menu span,
header nav.navigation .menu a {
  height: 100%;
}

header nav.navigation .menu ul {
  padding: 0;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav.navigation .menu ul li {
  padding: 0 25px;
}

header nav.navigation .menu ul li span,
header nav.navigation .menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

header nav.navigation .menu ul li span p,
header nav.navigation .menu ul li a p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #0D0C22;
}

header nav.navigation .menu ul li span svg,
header nav.navigation .menu ul li a svg {
  width: 6px;
  height: 3px;
  fill: #0D0C22;
  margin-left: 7px;
}

header nav.navigation .search-section {
  margin-left: auto;
  height: 100%;
  display: none;
}

@media only screen and (min-width: 840px) {
  header nav.navigation .search-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header nav.navigation .search-section .search {
  display: block;
}

header nav.navigation .search-section .search input[type="search"] {
  border-color: rgba(110, 109, 122, 0.25);
  border-radius: 4px;
  height: 30px;
  width: 200px;
  padding: 5px 10px 6px 35px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #6E6D7A;
}

header nav.navigation .search-section .search input[type="search"]::-webkit-input-placeholder {
  color: #6E6D7A;
  opacity: .5;
}

header nav.navigation .search-section .search input[type="search"]:-ms-input-placeholder {
  color: #6E6D7A;
  opacity: .5;
}

header nav.navigation .search-section .search input[type="search"]::-ms-input-placeholder {
  color: #6E6D7A;
  opacity: .5;
}

header nav.navigation .search-section .search input[type="search"]::placeholder {
  color: #6E6D7A;
  opacity: .5;
}

header nav.navigation .search-section .search input[type="search"]:focus {
  border-color: #6e6d7a;
}

header nav.navigation .search-section .search-icon {
  width: 35px;
}

header nav.navigation .search-section .search-icon svg {
  width: 12px;
  height: 12px;
  fill: #6E6D7A;
}

.breadcrumbs ol, .breadcrumbs li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs li > a {
  text-decoration: none;
  color: #B62153;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 17px;
}

.breadcrumbs li::after {
  content: "";
  display: inline-block;
  -webkit-mask: url("../img/arrow.svg?2") no-repeat;
          mask: url("../img/arrow.svg?2") no-repeat;
  width: 6px;
  height: 3px;
  background: #F1B5C6;
  margin: 0 7px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.breadcrumbs li:last-child:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  margin-top: -.0125px;
}

.recipe-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipe-card-cover {
  width: 100%;
  height: 50vw;
}

@media only screen and (min-width: 1024px) {
  .recipe-card-cover {
    height: 225px;
  }
}

.recipe-card-cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.recipe-card-cover:hover {
  opacity: 1;
}

.recipe-card-title {
  margin-bottom: 10px;
}

.recipe-card-title > a {
  font-size: 24px;
  line-height: 100%;
  color: #0D0C22;
}

.recipe-card-title > a:visited {
  color: #0D0C22;
}

.recipe-card-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-card-author svg {
  width: 12px;
  height: 14px;
  fill: #9E9EA7;
}

.recipe-card-author a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.005em;
  line-height: 17px;
  color: #0D0C22;
  margin-left: 10px;
  padding-top: 1px;
}

.recipe-card .breadcrumbs {
  margin: 17px 0 10px;
}

.home .main-screen-background {
  background: url("../img/home-background.jpg?7") no-repeat center center;
  background-size: cover;
  width: 280px;
  height: 340px;
  right: 0;
  top: 20px;
  position: absolute;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .home .main-screen-background {
    width: 840px;
    height: 580px;
    top: 0;
  }
}

.home .main-screen-content {
  margin-top: 340px;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

@media only screen and (min-width: 1024px) {
  .home .main-screen-content {
    margin-top: 320px;
    padding-bottom: 60px;
    grid-row-gap: 40px;
  }
}

.home .main-screen-content h1 {
  font-size: 36px;
  line-height: 100%;
}

@media only screen and (min-width: 1024px) {
  .home .main-screen-content h1 {
    font-size: 48px;
  }
}

.home .categories-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 10px;
}

@media only screen and (min-width: 1024px) {
  .home .categories-wrapper {
    grid-row-gap: 10px;
  }
}

.home .categories-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background: #F3F3F4;
  border-radius: 8px;
}

.home .categories-button > span {
  height: 100%;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .categories-button > span > svg {
  height: 15px;
  fill: #C1C1C5;
}

.home .categories-button > h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #0D0C22;
}

.home .categories-button:hover {
  background: rgba(193, 193, 197, 0.35);
  opacity: 1;
}

.home .categories-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=style.css.map */