/*

    COLORS

*/

$black: #0D0C22;
$grey: #6E6D7A;
$grey-middle: #9E9EA7;
$grey-semilight: #C1C1C5;
$primary: #D72D5C;
$primary-dark: #B62153;
$primary-light: #F1B5C6;
$background: #fff;



/*

*/

$base: 20px;
$breakpoint-s: 840px;
$breakpoint-m: 1024px;
$breakpoint-l: 1439px;

