.author {

    &-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        @media (min-width: $breakpoint-s) {
            margin-top: 120px;
        }

        &-photo {
            width: 80px;
            height: 80px;

            @media (min-width: $breakpoint-s) {
                width: 120px;
                height: 120px;
            }
            
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

        }


        h1,
        a {
            line-height: 100%;
        }

        h1 {
            font-size: 18px;
            margin: 15px 0 10px;

            @media (min-width: $breakpoint-s) {
                font-size: 28px;
                margin: 25px 0 15px;
            }
            
        }

        a {
            @include Inter(medium);
            color: $grey;
            font-size: 12px;

            @media (min-width: $breakpoint-s) {
                font-size: 14px;
            }

            &::after {
                content: '';
                background: url('../img/icon-external.svg');
                background-size: cover;
                width: 8px;
                height: 8px;
                margin-left: 5px;
                display: inline-block;

                @media (min-width: $breakpoint-s) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    &-origin {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        svg {
            width: 25px;
            height: 25px;
            @media (min-width: $breakpoint-s) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .header-wrapper {
        > :last-child {
            margin-bottom: 40px;
        }

        @media (min-width: $breakpoint-s) {
            margin: 0;
            grid-column-gap: 40px;

            > .search {
                display: none;
            }
        }
    }

    .search {
        &.right {
            margin-top: -6px;

            > div {
                margin-left: auto;
            }
        }
    }

    .search-section {
        margin-top: 45px;
        display: none;
        @media (min-width: $breakpoint-s) {
            display: block;
        }
        
        .search {
            margin: 0 auto;
            width: 400px;
        }
    }
}