@import './common';

@import '../components/search';
@import '../components/header';
@import '../components/recipe-card';
@import '../components/subcategories-list';
@import '../components/footer';

.category-page {
    
    .main-screen {
        margin-top: 110px;
        margin-bottom: 15px;

        @media (min-width: $breakpoint-s) {
            margin-top: 175px;
            margin-bottom: 60px;
            grid-column-gap: 40px;
        }

        .breadcrumbs {
            @media (min-width: $breakpoint-s) {
                li > a {
                    font-size: 14px;
                }
            }
        }

        h1 {
            margin-top: 20px;
            margin-bottom: 25px;
            display: inline-flex;
        }

        .search {

            &.right {
                display: inline-flex;
                float: right;
                margin-top: 12px;

                @media (min-width: $breakpoint-s) {
                    display: none;
                }
            }

            &:not(.right) {
                margin-bottom: 25px;
                width: 100%;
                align-self: center;
                display: none;

                @media (min-width: $breakpoint-s) {
                    margin: 0;
                    display: block;
                }
            }
        }
        
        & > :last-child {
            display: flex;
        }
        
    }

    .subcategories-screen {
        margin: 0;
        @media (min-width: $breakpoint-s) {
            padding-bottom: 15px;
        }
    }
}