* {
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    @include SF-Pro-Display(bold);
    color: $black;
}


@mixin transition {
    transition: all .15s ease;
}

@mixin toogle-transition {
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@mixin acrylic {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
}

.container {
    padding: 0 $base;
    position: relative;

    @media only screen and (min-width: $breakpoint-s) {
        padding: 0;
    }

    @media only screen and (min-width: $breakpoint-m) {
        padding: 0 $base * 3;
    }
}

.mb-min {
    margin-bottom: $base * 1.5;
    @media only screen and (min-width: $breakpoint-m) {
        margin-bottom: $base * 2;
    }
}

a {
    text-decoration: none;
    @include transition;

    &:hover {
        opacity: .7;
    }
}

h2 {
    &.section-header {
        font-size: 28px;
        line-height: 100%;
        margin-bottom: $base * 1.75;

        @media only screen and (min-width: $breakpoint-m) {
            font-size: 36px;
            margin-bottom: $base * 3;
        }
    }

    &.counter {
        position: relative;
        &::after {
            content: attr(data-count);
            font-size: 12px;
            line-height: 100%;
            position: absolute;
            color: $grey-middle;
            top: -5px;
            margin-left: 5px;

            @media (min-width: $breakpoint-s) {
                font-size: 18px;
                top: -10px;
            }
        }
    }
}

main {
    section {
        margin-top: 60px;
        @media (min-width: $breakpoint-s) {
            margin-top: 80px;
        }
    }
}

.recipes {

    &-wrapper {
        grid-column-gap: $base * 2;
        grid-row-gap: $base * 2;
        @media only screen and (min-width: $breakpoint-m) {
            grid-row-gap: $base * 2.5;
        }
    }

}

.load-more {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: $base * 1.5;
    @media only screen and (min-width: $breakpoint-m) {
        padding-top: $base * 2;
    }

    &-button {
        cursor: pointer;
        @include transition;

        &:hover {
            opacity: .75;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-button span {
        @include Inter(semibold);
        color: $grey-middle;
        font-size: 12px;
        line-height: 100%;
        display: flex;
        align-items: center;
        padding: 5px;

        &::after {
            content: "";
            display: inline-block;
            mask: url('../img/arrow.svg?2') no-repeat;
            width: 8px;
            height: 4px;
            background: $grey-middle;
            margin-left: 7px;
        }
    }
}

