@import './common';

@import '../components/search';
@import '../components/header';
@import '../components/breadcrumbs';
@import '../components/recipe-card';
@import '../components/author-card';
@import '../components/footer';

.home-page {
    overflow-x: hidden;

    .main-screen {

        &-background {
            background: url('../img/home-background.jpg?7') no-repeat center center;
            background-size: cover;
            width: 280px;
            height: 340px;
            right: 0;
            top: $base;
            position: absolute;
            z-index: -1;

            @media only screen and (min-width: $breakpoint-s - 150) {
                width: 460px;
                height: 400px;
                top: 0;
                right: -10%;
            }

            @media only screen and (min-width: $breakpoint-s) {
                width: 520px;
                height: 480px;
                top: 0;
                right: -25%;
            }
    
            @media only screen and (min-width: $breakpoint-s + 100) {
                width: 620px;
                height: 520px;
                top: 0;
                right: -20%;
            }

            @media only screen and (min-width: $breakpoint-s + 250) {
                width: 720px;
                height: 580px;
                top: 0;
                right: -20%;
            }
            
            @media only screen and (min-width: $breakpoint-m) {
                width: 840px;
                height: 580px;
                top: 0;
                right: -35%;
            }

            @media only screen and (min-width: $breakpoint-l + 275) {
                right: -25%;
            }

            @media only screen and (min-width: $breakpoint-l + 475) {
                width: 920px;
                height: 640px;
                top: 0;
                right: -25%;
            }

            @media only screen and (min-width: $breakpoint-l + 725) {
                right: -15%;
            }
        }
    
        &-content {
            margin-top: $base * 17;
            grid-column-gap: $base * 2;
            grid-row-gap: $base * 1.5;
    
            @media only screen and (min-width: $breakpoint-m) {
                margin-top: $base * 16;
                padding-bottom: $base * 3;
                grid-row-gap: $base * 2;
            }
    
            h1 {
                font-size: 36px;
                line-height: 100%;
                @media only screen and (min-width: $breakpoint-m) {
                    font-size: 48px;
                }
            }
        }
    }
    
    .categories {
        
        &-wrapper {
            grid-column-gap: $base * 2;
            grid-row-gap: $base * .5;
            @media only screen and (min-width: $breakpoint-m) {
                grid-row-gap: $base * .5;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            height: 50px;
            width: 100%;
            background: $grey-light;
            border-radius: 8px;


            > span {

                height: 100%;
                width: $base * 3;
                display: flex;
                justify-content: center;
                align-items: center;

                > svg {
                    height: 15px;
                    fill: $grey-semilight;
                }
            }

            > h3 {
                @include Inter(semibold);
                font-size: 12px;
                color: $black;
                width: 100%;
            }

            &:hover {
                background: rgba($grey-semilight, .35);
                opacity: 1;
            }

            &:active {
                transform: scale(.99);
            }
        }
        
    }

    .authors {

        &-wrapper {
            grid-column-gap: $base * 2;
            grid-row-gap: $base * 2;
            @media only screen and (min-width: $breakpoint-m) {
                grid-row-gap: $base * 2.25;
            }
        }

    }
}