@import 'common';

@import '../components/search';
@import '../components/header';
@import '../components/breadcrumbs';
@import '../components/tags';
@import '../components/slider';
@import '../components/share';
@import '../components/author-card';
@import '../components/ingredients-list';
@import '../components/footer';

.recipe-page {

    .main-screen {
        height: 420px;
        margin: 0;
        padding: 60px 0 30px;
        display: flex;
        flex-direction: column;

        &-cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -90;
            display: flex;
            overflow: hidden;

            &::after {
                content: "";
                background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #0A0A0A 100%);
                position: absolute;
                top: 60px;
                right: 0;
                left: 0;
                bottom: 0;
            }

            img {
                height: 420px;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
        
        &-actions {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .share {
                margin-left: auto;
            }
        }

        &-content {

            margin-top: auto;
            overflow: hidden;

            .breadcrumbs {

                a {
                    color: $background;
                }

                li::after {
                    background: rgba($background, .5);
                }
            }

            .section-header {
                color: $background;
                margin: 20px 0 25px;
            }

            .tags {
                display: flex;
                width: fit-content;

                &-wrapper {
                    mask-image: linear-gradient(to left, transparent 25%, black 35%);

                    overflow-x: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                span {

                    background: rgba($background, .2);
                    backdrop-filter: blur(20px);

                    margin: 0 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 30vw;
                    }

                    a {
                        @include Inter(semibold);
                        font-size: 10px;
                        color: $background;
                        line-height: 17px;
                        margin: auto;
                    }
                }
            }
        }

        .author {

            &-wrapper {
                position: relative;
            }
            
            &-card {
                position: absolute;
                right: 0;
                flex-direction: column;
                align-items: flex-end;
    
                &-photo {
                    width: 60px;
                    height: 60px;
                }
    
                &-content {
    
                    h3 {
                        margin-top: 10px;
                        font-size: 12px;
                        text-align: right;
                        max-width: 130px;
                    }
    
                    a:last-child {
                        display: none;
                    }
                }
    
            }
        }

    }

    .igredients {
        &-wrapper {
            grid-column-gap: $base * 2;
        }
    }

    .instructions {

        &-list {
            counter-reset: item;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                counter-increment: item;
                position: relative;
                display: flex;
                padding-top: 45px;

                &::before {
                    content: counter(item);
                    @include SF-Pro-Display(bold);
                    font-size: 28px;
                    color: $grey-middle;
                    position: absolute;
                    top: 0;
                }

            }
        }
    }
}