@import 'common';

@import '../components/search';
@import '../components/header';
@import '../components/breadcrumbs';
@import '../components/tags';
@import '../components/slider';
@import '../components/share';
@import '../components/author-card';
@import '../components/ingredients-list';
@import '../components/instructions-list';
@import '../components/footer';

.recipe-page {

    .main-screen {
        height: 420px;
        margin: 0;
        padding: 60px 0 30px;
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-s) {
            padding-top: 180px;
            height: auto;
            flex-flow: row wrap;
        }

        &-cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -90;
            display: flex;
            overflow: hidden;

            &::after {
                content: "";
                background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #0A0A0A 100%);
                position: absolute;
                top: 60px;
                right: 0;
                left: 0;
                bottom: 0;
            }

            img {
                height: 420px;
                width: 100%;
                object-fit: cover;
                display: block;
            }

            @media (min-width: $breakpoint-s) {
                display: none;
            }
        }
        
        &-actions {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .share {
                margin-left: auto;
            }

            @media (min-width: $breakpoint-s) {
                display: none;
            }
        }

        &-content {

            &-wrapper {
                margin-top: auto;
                grid-column-gap: 120px;
                width: 100%;

                @media (min-width: $breakpoint-s) and (max-width: 900px) {
                    grid-column-gap: 100px;
                }

                @media (min-width: $breakpoint-s) {
                    min-height: 280px;
                }
            }
        
            overflow: hidden;

            .breadcrumbs {
                @media (min-width: $breakpoint-s) {
                    margin-top: 40px;
                }

                a {
                    color: $background;
                    @media (min-width: $breakpoint-s) {
                        color: $primary;
                        font-size: 14px;
                    }

                    @media (min-width: $breakpoint-s) and (max-width: 900px) {
                        font-size: 11px;
                    }
                }

                li::after {
                    background: rgba($background, .5);
                    @media (min-width: $breakpoint-s) {
                        background: rgba($primary, .25);
                        width: 8px;
                        height: 4px;
                        margin: 0 15px;
                    }

                    @media (min-width: $breakpoint-s) and (max-width: 900px) {
                        margin: 0 7px;
                        width: 6px;
                        height: 3px;
                    }
                }
            }

            .section-header {
                color: $background;
                margin: 20px 0 25px;

                @media (min-width: $breakpoint-s) {
                    color: $black;
                    margin-bottom: 40px;
                }

                @media (min-width: $breakpoint-s) and (max-width: 900px) {
                    margin-bottom: 30px;
                }
            }

            .tags {
                display: flex;
                width: fit-content;
                
                @media (min-width: $breakpoint-s) {
                    flex-wrap: wrap;
                    width: auto;
                }

                &-wrapper {
                    @media (max-width: $breakpoint-s) {
                        mask-image: linear-gradient(to left, transparent 25%, black 35%);

                        overflow-x: auto;
                        scrollbar-width: none;
                        -ms-overflow-style: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }

                span {

                    background: rgba($background, .2);
                    backdrop-filter: blur(20px);

                    margin: 0 5px;

                    @media (min-width: $breakpoint-s) {
                        backdrop-filter: none;
                        background: none;
                        border: 1px solid rgba($primary, .75);
                        margin: 0 10px 15px 0;

                        height: 28px;
                        padding: 0 14px;
                    }

                    @media (min-width: $breakpoint-s) and (max-width: 900px) {
                        height: 26px;
                        padding: 0 10px;
                    }
                    
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 30vw;
                        @media (min-width: $breakpoint-s) {
                            margin-right: 10px;
                        }
                    }

                    a {
                        @include Inter(semibold);
                        font-size: 10px;
                        color: $background;
                        line-height: 17px;
                        margin: auto;

                        @media (min-width: $breakpoint-s) {
                            color: rgba($primary, .75);
                            font-size: 12px;
                            line-height: 20px;
                        }

                        @media (min-width: $breakpoint-s) and (max-width: 900px) {
                            font-size: 11px;
                        }
                    }
                }
            }
        }

    
        .author {

            &-wrapper {
                position: relative;
                @media (min-width: $breakpoint-s) {
                    width: fit-content;
                    margin-top: 45px;
                }

                @media (min-width: $breakpoint-s) and (max-width: 900px) {
                    margin-top: 30px;
                }
            }

            @media (max-width: $breakpoint-s) {

                &-card {
                    position: absolute;
                    right: 0;
                    flex-direction: column;
                    align-items: flex-end;
        
                    &-photo {
                        width: 60px;
                        height: 60px;
                    }
        
                    &-content {
                        align-items: flex-end;
    
                        > a {
                            &:first-child {
                                margin-bottom: 5px;
                            }
                        }
        
                        h3 {
                            margin-top: 10px;
                            font-size: 12px;
                            text-align: right;
                            max-width: 130px;
                        }
                        
                        span {
                            padding: 0;
                            background: none;
                        }
                    }
        
                }
            }

            @media (min-width: $breakpoint-s) and (max-width: 900px) {
                &-card {
                    &-content {
                        h3 {
                            font-size: 16px;
                        }
                    }
                    &-photo {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
        
        

    }

    .ingredients {
        &-screen {

            .section-header {
                @media (min-width: $breakpoint-s) {
                    margin-bottom: 40px;
                }
            }
        }

        &-list {
            grid-column-gap: $base * 6;
        }
    }

    .share.inline {
        @media (min-width: $breakpoint-s) {
            .share-button {
                svg {
                    margin-left: auto;
                }
            }
            .social-buttons {
                
                width: auto;
                right: 0;

                .times-space {
                    order: 99;
                }

                li {
                    margin: 0 7px;
                }
                
            }
        }
    }

    .recipe-photos {
        width: 100%;
        position: relative;

        &-wrapper {
            position: relative;
            height: 0;

            @media (max-width: $breakpoint-s) {
                display: none;
            }
        }
        &-content {
            position: absolute;
            left: -30px;
            right: -30px;

            @media (min-width: $breakpoint-s) and (max-width: 900px) {
                left: -20px;
            }

            .slider {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                padding: 0 30px;
            }
        }

        img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            display: block;
            z-index: 0;


            border-radius: 24px;

            @media (min-width: $breakpoint-s) {
                height: 40vw;
            }

            @media (min-width: 1024px) {
                height: 34.5vw;
            }

            @media (min-width: $breakpoint-m) {
                height: 29.65vw;
            }

            @media (min-width: $breakpoint-l) {
                height: 21.5vw;
                max-height: 480px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}