.breadcrumbs {

    ol, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }


    li > a {
        text-decoration: none;
        color: $primary-dark;
        @include Inter(semibold);
        font-size: 12px;
        letter-spacing: 0em;
        line-height: 17px;
        white-space: pre;
    }

    li::after {
        content: "";
        display: inline-block;
        mask: url('../img/arrow.svg?2') no-repeat;
        width: 6px;
        height: 3px;
        background: $primary-light;
        margin: 0 8px;
        transform: rotate(-90deg);
    }

    li:last-child:after {
        transform: rotate(0);
        margin-top: -.0125px;
    }

}