.slider {

    &-pagination {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            width: 5px;
            height: 5px;
            background: $background;
            border-radius: 50%;
            margin: 0 3px;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }

            &.current {
                background: transparent;
                border: 3px solid $background;
                width: 11px;
                height: 11px;
            }
        }

    }

    &-control {
        &-prev,
        &-next {
            display: flex;
            cursor: pointer;
            padding: 10px;
            svg {
                @include transition;
                width: 8px;
                height: 12px;
                fill: $grey-semilight;
            }
            &:hover {
                svg {
                    fill: $primary;
                }
            }
        }
        
        &-next {
            svg {
                transform: rotate(180deg);
            }
        }

    }

    &.color {
        li {
            background: $primary;

            &.current {
                background: transparent;
                border: 3px solid $primary;
            }
        }
    }
}